<div style="padding-top: 10px;"></div>
<div class="row">
  <div class="col-md-2">
    <ul id="flight_control_actions" class="nav nav-stacked">
      <li>
        <div ng-controller='status'>
          <div class="alert alert-info">
            MODE: {{data.flight_mode}}
          </div>
          <div ng-switch on='data.armed'>
            <div ng-switch-when='true'>
              <button type="button" class="btn btn-warning"
                ng-click='disarm()'>DISARM</button>
            </div>
            <div ng-switch-when='false'>
              <button type="button" class="btn btn-danger"
                ng-click='arm()'>ARM</button>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div ng-controller='waypoints'>
          <button type="button" class="btn" ng-click='come_here()'>
            Come To Me
         </button>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <div ng-controller='attitude'>
      <div>
        <object id="attitude_svg" data="/static/attitude.svg" type="image/svg+xml">
        </object>
        <object id="compass" data="/static/compass.svg" type="image/svg+xml">
        </object>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div id="map" style='height:400px;width:500px;'></div>

    <div ng-controller='waypoints'>
      <h2>Waypoints</h2>
      <ol>
        <li ng-repeat="waypoint in waypoints">
          Lat: {{waypoint.latitude|number:6}}, Lng: {{waypoint.longitude|number:6}}, 
          Alt: {{waypoint.altitude|number:3}}m
        </li>
      </ol>
    </div>

    <div>
      <h3>Info</h3>
      <div ng-controller='attitude'>
        <span>
          Roll: {{data.roll|number:4}}, 
          Pitch: {{data.pitch|number:4}}, 
          Yaw: {{data.yaw|number:4}}
        </span>
      </div>
      <div ng-controller='position'>
        <div>Lat: {{data.latitude}}, Lng: {{data.longitude}}</div>
      </div>

      <div ng-controller='rcstate'>
        RC channels: {{data.channel}}
      </div>

      <div ng-controller='imu'>
        <div>
          Gyro: x: {{data.gyro.x}}, y: {{data.gyro.y}}, z: {{data.gyro.z}}
        </div>
        <div>
          Accel: x: {{data.accel.x}}, y: {{data.accel.y}}, z: {{data.accel.z}}
        </div>
        <div>
          Mag: x: {{data.mag.x}}, y: {{data.mag.y}}, z: {{data.mag.z}}
        </div>
      </div>
    </div>
  </div>
</div>
