body {
    padding-top: 50px;
}

#flight_control_actions button {
    width: 100%;
}

.camera-thumbnail {
    position: relative;
    padding-bottom: 5px;
}

.camera-thumbnail img {
    width: 160px;
    height: 120px;
}

.camera-thumbnail i.fa-youtube-play {
    position: absolute;
    left: 17%;
    top: 28%;
    color: white;
}

.camera-thumbnail i.fa-trash {
    position: absolute;
    left: 38%;
    top: 75%;
    color: white;
    cursor: pointer;
}
