# Downloaded mapnik data files
share/mapnik-style/data

# ROS
msg_gen

# bloom build files
obj-x86_64-linux-gnu/
debian/

*.py[cod]

# Packages
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Vim
*.swp

.ropeproject
