# ROS
msg_gen

*.py[cod]

# Packages
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Vim
*.swp

.ropeproject
