<html ng-app=rospilot>
  <head>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="/static/index.js"></script>
  </head>
  <body>
    <div id="map-canvas" style='height:400px;width:500px;'></div>
    <div ng-controller='position'>{{data.latitude}}, {{data.longitude}}</div>
    <!-- <h2 style='{% if armed %} color:red; {% endif %}'>
     {% if armed %}
       ARMED
       {% else %}
       DISARMED
       {% endif %}
    </h2>
    <a href='/arm'>
      {% if armed %}
      disarm
      {% else %}
      arm
      {% endif %}
    </a> -->
  </body>
</html>
