<launch>
<group ns="rospilot">
<param name="/rospilot/mapnik_server_port" value="8086" />
<node name="mavlink"
      pkg="rospilot"
      type="mavlink.py"
      respawn="false"
      output="screen"
      args="--udp-export=127.0.0.1:8866" />
<node name="odroid_show"
      pkg="rospilot"
      type="odroid_show.py"
      respawn="false"
      output="screen" />
<node name="web_ui"
      pkg="rospilot"
      type="web_ui.py"
      respawn="false"
      output="screen"
      args="--media_path=~/.rospilot/media" />
<node name="mapnik_server"
      pkg="rospilot"
      type="mapnik_server.py"
      respawn="false"
      output="screen"
      args="--media_path=~/.rospilot/media">
    <param name="tilestache_config_file" value="~/.rospilot/mapnik/ts/ts.config" />
</node>
<node name="camera"
      pkg="rospilot"
      type="camera_node"
      respawn="false"
      output="screen">
    <param name="codec" value="h264" />
    <param name="camera_type" value="usb" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="video_device" value="/dev/video0" />
</node>
</group>
<node name="mjpeg"
      pkg="rospilot_deps"
      type="raw_mjpeg_server"
      respawn="false"
      output="screen" />
<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="8088"/>
</include>
</launch>
